* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #c2c2c2;
  border: none;
}

.App {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  border-radius: 15px;
  font-size: 100%;
  flex-direction: column;
}

.App button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1%;
  background-color: brown;
  border-radius: 15px;
  font-size: 100%;
  font-weight: bold;
}

.title {
  display: flex;
  padding: 10%;
  justify-content: center;
  width: 100%;
  font-size: 100%;
  font-weight: bold;
  color: #202020;
}